fastapi
uvicorn[standard]

motor
pymongo
beanie

pydantic
pydantic-settings

python-dotenv

python-jose[cryptography]

passlib[bcrypt]

bcrypt

python-multipart

email-validator

httpx

requests

aiofiles

slowapi

loguru

rich

supabase

pytest

pytest-asyncio

black

isort

flake8